@{
    ViewData["Title"] = "HienSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .anh {
        width: 200px;
        height: 100px;
    }

    td {
        width: 200px;
        padding-bottom: 5px;
        height: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        font-size: 14px;
        font-weight: 300;
    }
</style>

<div class="container contain">
    <table class="table">
        <thead>
            <tr>
                <th>Tên Sản Phẩm</th>
                <th>Hình ảnh Sản phẩm</th>
                <th>Giá bán</th>
                <th>Giảm Giá</th>
                <th>Mô Tả</th>
                <th>Danh Mục</th>
                <th>Chức Năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sanpham in ViewBag.Sanpham)
            {
                <tr>
                    <td class="namsp">@sanpham.TenSanPham</td>
                    <td><img class="anh" src="data:image/png;base64,@sanpham.ImgDaiDien" /></td>
                    <td>@sanpham.GiaSanpham</td>
                    <td>@sanpham.GiamGia</td>
                    <td>@Html.Raw(@sanpham.MoTaSanPham)</td>
                    <td>@sanpham.danhmuc.Namedanhmuc</td>
                    <td>
                        <a class="btn btn-warning" asp-action="SuaSanpham" asp-route-id="@sanpham.IdSanPham">Sửa</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@sanpham.IdSanPham">Xoá</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="ThemSanpham">Thêm Sản Phẩm</a>
    <div class="row">
        <div class="col-lg-12">
            <div class="product__pagination">
                @if (ViewBag.CurrentPage > 1)
                {
                    <a href="@Url.Action("HienSanPham", new { page = ViewBag.CurrentPage - 1, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sortOrder = ViewBag.SortOrder })">
                        <i class="bx bx-chevron-left"></i>
                    </a>
                }

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i <= 5 || i >= ViewBag.TotalPages - 5 || (i >= ViewBag.CurrentPage - 2 && i <= ViewBag.CurrentPage + 2))
                    {
                        <a class="@(i == ViewBag.CurrentPage ? "active" : "")" href="@Url.Action("HienSanPham", new { page = i, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sortOrder = ViewBag.SortOrder })">@i</a>
                    }
                    else if (i == 6 || i == ViewBag.TotalPages - 5)
                    {
                        <span>...</span>
                    }
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <a href="@Url.Action("HienSanPham", new { page = ViewBag.CurrentPage + 1, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, sortOrder = ViewBag.SortOrder })">
                        <i class="bx bx-chevron-right"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
